@()(implicit r: Request[_])

@import buildinfo.BuildInfo

@main("Guts BUS") {
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-four-fifths">
                <h1 class="title">
                    Guts <span class="icon"><i class="fa fa-bus"></i></span>
                </h1>
                <p class="subtitle">
                    Endstation in Mydlinghoven <strong>Lichterwald</strong>!
                </p>
            </div>
            <div class="column">
                <div class="control is-pulled-right">
                    <div class="tags has-addons">
                        <span class="tag is-dark">version</span>
                        <span class="tag is-info">@BuildInfo.version</span>
                    </div>
                </div>
            </div>
        </div>
        <table class="table is-fullwidth is-hoverable is-striped" id="bus">
            <thead>
            <tr>
                <th>Datum</th>
                <th>Ereignis</th>
                <th>Start</th>
                <th>Ende</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
}
