@(message: String)(implicit r: Request[_])

@main("Play with Scala.js") {
<section class="section">
  <div class="container">
    <h1 class="title">
      Guts <span class="icon"><i class="fa fa-bus"></i></span>
    </h1>
    <p class="subtitle">
      Endstation in Mydlinghoven <strong>Lichterwald</strong>!
    </p>
    <table class="table is-fullwidth is-hoverable is-striped" id="bus">
      <thead>
      <tr>
        <th>Datum</th>
        <th>Ereignis</th>
        <th>Start</th>
        <th>Ende</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
  </div>
</section>
}
